* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

